<div class="d-lg-block bg-light h-100"> 
    <nav class="nav flex-column p-3"> 
      <a class="nav-link d-flex align-items-center" routerLink="/" routerLinkActive="active">
        <i class="bi bi-person me-2"></i> Home
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/art/cats" routerLinkActive="active">
        <i class="bi bi-person me-2"></i> Cats
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/art/dogs" routerLinkActive="active">
        <i class="bi bi-person me-2"></i> Dogs
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/art/fish" routerLinkActive="active">
        <i class="bi bi-person me-2"></i> Fish
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/art/flowers" routerLinkActive="active">
        <i class="bi bi-person me-2"></i> Flowers
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/art/sunrises" routerLinkActive="active">
        <i class="bi bi-person me-2"></i> Sunrises
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/art/sunsets" routerLinkActive="active">
        <i class="bi bi-person me-2"></i> Sunsets
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/art/boats" routerLinkActive="active">
        <i class="bi bi-person me-2"></i> Boats
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/art/tigers" routerLinkActive="active">
        <i class="bi bi-person me-2"></i> Tigers
      </a>
    </nav> 
  </div> 